/**
 *	Global
 */

@import "global/reset";
@import "global/typo";
@import "global/variables";
@import "global/common";
@import "global/wrapper";
@import "global/grid";

/**
 *	Pages
 */

@import "pages/homepage";
@import "pages/work";

/**
 *	Components
 */
@import "components/footer";

/**
 * 	TEMP CODE
 *
 * 	To be used on tests and dev
 * 
 */



.header-temp {
	position: fixed;
	width: 100vw;
	height: 400px;
	top: 0;
	left: 0;
	background: $light;
	display: none;
	z-index: 99;

	&.show { display: block; }

}

.headerToggle {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 999;
	width: 30px;
	height: 30px;
	background: $black;
	color: $white;
	border: none;
	font-size: 20px;

}